@import "style";
// breakpoints

$mobile: 480px;
$tablet: 768px;
$laptop: 1279px;
$desktop: 1280px;

// Desktop
@media screen and (max-width: $desktop) {
  .container {
    width: 70vw;

    ul {
      width: 50vw;
    }
  }
}
// Laptop
@media screen and (max-width: $laptop) {
  .container {
    width: 80vw;

    ul {
      width: 60vw;
    }
  }
}
// Tablet
@media screen and (max-width: $tablet) {
  .container {
    width: 90vw;

    ul {
      width: 70vw;
    }
  }
}
// Mobile
@media screen and (max-width: $mobile) {
  .container {
    width: 100vw;
    h1 {
      font-size: 2rem;
      text-align: center;
    }
    ul {
      width: 80vw;
    }
    .inputs {
      // min-width: 13.5rem;
      // max-width: 5rem;
      min-width: 7rem;
    }
    .plus {
      .one {
        height: 0rem;
        width: 1.5rem;
      }
      .two{
          @extend .one;
      }
    }
  }
}
